@model Kalkulator.Models.Calculator

@{
    ViewData["Title"] = "Kalkulator";
}

<h1>Kalkulator</h1>
<p>Wprowadź dwie liczby i wybierz operacje: +, -, *, / :</p>

<form action="Calculator">
    <input type="x" asp-for="x" />Pierwsza liczba
    <input type="Operator" asp-for="Operator" />znak
    <input type="y" asp-for="y" />Druga liczba
    <input type="submit" />
</form>

<p></p>
<h5>@ViewBag.wynik</h5>
